td.ra-green {
	background-color: #deffac !important;
}

td.ra-yellow {
	background-color: #ffffb2 !important;
}

td.ra-red {
	background-color: #ffb3b3 !important;
}

span.ra-button {
	background: url(chrome-extension://bhlblfbajhmkflfamdiiccdohdkbdaon/img/16x16.png) left center no-repeat;
	background-size: 16px 16px;
	padding: 4px 0px 4px 24px;
}
